<%- include('./partials/header.ejs') %>
<%- include('./nav.ejs')%>

<section>
    <form method="post">
    <table class="table table-bordered w-50 mx-auto table-dark mt-3 text-center">
        <thead>
            <tr>
                <td colspan="2">Add User Form</td>
           
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>User Name </td>
                <td> <input type="text" name="unm"> </td>
            </tr>
            <tr>
                <td>User Email </td>
                <td> <input type="email" name="email"> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pwd"> </td>
            </tr>
            <tr >
                <td colspan="2"><input type="submit" name="addBtn"></td>
            </tr>
        </tbody>
    </table>
    </form>
    <% if(msg){%>
    <p class="alert alert-success w-50 mx-auto"><%= msg%></p>
    <% } %>
</section>

<%-include('./partials/footer.ejs') %>