<%- include('partials/header.ejs') %>
<%- include('nav.ejs') %>

<section>
    <h1 align="center">Admin default Pageaddu</h1>
</section>

<%- include('carousel.ejs') %>

<%- include('partials/footer.ejs') %>